/* Global Styles */
body {
    font-family: "Roboto", serif, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: #282828;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", 'Times New Roman', Times, serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 2.5rem;
    margin: 0 0 .5em;
}

h2 {
    font-size: 1.75rem;
}


/* Lists */
ul,
li {
    margin-left: 1.5em;
    padding: 0 0 0 2.5em;
}

/* Links */
a,
a:visited {
    color: #fcdb51;
}

a:hover,
a:focus {
    color: #e04040;
}

/* a:focus {
    outline: 2px solid #f62424;
} */

a:active {
    color: #ffffff;
    background-color: #e04040;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: .5rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #565455;
}

/* Image Cover */
.img-cover img {
    display: block;
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

/* make sure the color contrast is checked and clamp works as-well */
.img-cover h1 {
    position: absolute;
    top: 50%;
    left: 75%;
    font-size: 3.5rem;
    transform: translateX(-50%);
    color: #e2e2e2;
    font-size: clamp(2rem, 5vw + 1rem, 6rem);
}
h1 {
    background-color: #00000080; /* Semi-transparent background */
    color: white;
    padding: 10px;
    text-shadow: 2px 2px 8px #00000099; /* Text shadow for blur effect */
    border-radius: 5px; /* Rounded corners */
}



.site-nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Hide nav-menu on mobile view */
@media (max-width: 50em) {
    .nav-menu {
        display: none;
    }
}



/* Media Query for Mobile View */
@media (max-width: 50em) {
    .site-nav ul {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .site-nav.active .nav-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
    }

    .img-cover h1{
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 3.5rem;
        transform: translateX(-50%);
        color : #e2e2e2;
        font-size: clamp(2rem, 5vw + 1rem, 6rem);
    }
}

.site-nav.active ul li {
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu-toggle {
    display: none;
    /* Initially hidden on desktop */
}

@media (max-width: 50em) {

    /* Show menu toggle on mobile */
    .menu-toggle {
        display: block;
    }

    /* Optionally display nav-menu when active */
    .site-nav.active .nav-menu {
        background-color: #565455;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
    }
}


.home-text {
    background-color: gray;
    display: flex;
    align-content: center;
    justify-content: center;
   
}
.home-text blockquote{
    background-color: aliceblue;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1.5rem;
    border: 2px solid;
}

.home-text p{
    font-size: 1.5rem;
    font-style: italic;
}

footer p {
    text-align: center;
}
